name: SSH Test

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Simple SSH Test
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: Administrator
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          request_pty: false
          script: |
            Write-Output "=== SSH OK ==="
            hostname
            whoami
            Get-Date
            Write-Output "=== END ==="